<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="DeluxeMediaLib" connectionString="Data Source=db.uat.d3nw.net; Initial Catalog=DeluxeMediaLib;User ID=UGC;Password=uatps$ud0;MultipleActiveResultSets=True;Persist Security Info=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PlayreadyKeyStore" connectionString="Data Source=db.uat.d3nw.net; Initial Catalog=PlayreadyKeyStore;User ID=UGC;Password=uatps$ud0;MultipleActiveResultSets=True;Persist Security Info=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AssetLibrary" connectionString="Data Source=db.uat.d3nw.net; Initial Catalog=AssetLibrary;User ID=UGC;Password=uatps$ud0;MultipleActiveResultSets=True;Persist Security Info=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AssetLibraryEntities" connectionString="metadata=res://*/AL.AL.csdl|res://*/AL.AL.ssdl|res://*/AL.AL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DB.DEV.D3NW.NET;initial catalog=AssetLibrary;user id=UGC;password=D1sn3y132;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CustomerPackage" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=db.uat.d3nw.net;Initial Catalog=CPI;User ID=CPIUser;Password=uatps$ud0;MultipleActiveResultSets=True;Persist Security Info=True;'" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	  <add name="CommonSqlDatabase" connectionString="metadata=res://*/Entities.Common.csdl|res://*/Entities.Common.ssdl|res://*/Entities.Common.msl;provider=System.Data.SqlClient;provider connection string='Data Source=db.uat.d3nw.net; Initial Catalog=Common;User ID=CPIUser;Password=uatps$ud0;MultipleActiveResultSets=True'" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	  <add name="RabbitMQConnection" connectionString="Host Name=rabbitmq.uat.d3nw.net; heartbeat=30" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MetadataRepositoryEntities" connectionString="mongodb://cmruser_uat:uatps$ud0@mongo.uat.d3nw.net/MetadataRepository" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ServerLocationAL" value="http://al.uat.d3nw.net/ALService/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationCPI" value="http://cpi.uat.d3nw.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationCMR" value="http://cmr.uat.d3nw.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationMongo" value="mongodb://dluser_uat:uatps$ud0@mongo.uat.d3nw.net:27017/DML" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationMongoCMR" value="mongodb://cmruser_uat:uatps$ud0@mongo.uat.d3nw.net/Assets" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UseMongoDataRepo" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UseXmlFileDataRepo" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AssetFileLocationPrefix" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <eventTracking>
    <eventClient name="DMLEvents" exchangeName="d3.uat.exchange" queueName="d3.uat.dml.queue" subscriberCount="4" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </eventTracking>
  
</configuration>