<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="DeluxeMediaLib" connectionString="Data Source=db.qa2.d3nw.net; Initial Catalog=DeluxeMediaLib;User ID=PRODUser;Password=qatwops$ud0;MultipleActiveResultSets=True;Persist Security Info=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PlayreadyKeyStore" connectionString="Data Source=db.qa2.d3nw.net; Initial Catalog=PlayreadyKeyStore;User ID=UGC;Password=qatwops$ud0;MultipleActiveResultSets=True;Persist Security Info=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AssetLibrary" connectionString="Data Source=db.qa2.d3nw.net; Initial Catalog=AssetLibrary;User ID=PRODUser;Password=qatwops$ud0;MultipleActiveResultSets=True;Persist Security Info=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AssetLibraryEntities" connectionString="metadata=res://*/AL.AL.csdl|res://*/AL.AL.ssdl|res://*/AL.AL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db.qa2.d3nw.net;initial catalog=AssetLibrary;user id=QAUser;password=D1sn3y132;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CustomerPackage" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=db.qa2.d3nw.net;Initial Catalog=CPI;User ID=CPIUser;Password=qatwops$ud0;MultipleActiveResultSets=True;Persist Security Info=True;'" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	  <add name="CommonSqlDatabase" connectionString="metadata=res://*/Entities.Common.csdl|res://*/Entities.Common.ssdl|res://*/Entities.Common.msl;provider=System.Data.SqlClient;provider connection string='Data Source=db.qa2.d3nw.net; Initial Catalog=Common;User ID=UtilAPIUser;Password=qatwops$ud0;MultipleActiveResultSets=True'" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	  <add name="RabbitMQConnection" connectionString="host=rabbitmq.qa2.d3nw.net; heartbeat=30; virtualHost=app.qa2.vhost; username=rabbitmq.cps; password=2tJWBpeEunIZkdKwFB4R" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MetadataRepositoryEntities" connectionString="mongodb://cmruser_qa2:qatwops$ud0@mongo.qa2.d3nw.net/MetadataRepository" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ServerLocationAL" value="http://al.qa2.d3nw.net/ALService/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationCPI" value="http://cpi.qa2.d3nw.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationCMR" value="http://cmr.qa2.d3nw.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationMongo" value="mongodb://dmluser_qa2:qa2u$rdeemel@mongo.qa2.d3nw.net:27017/DML" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationMongoCMR" value="mongodb://cmruser_qa2:qatwops$ud0@mongo.qa2.d3nw.net/Assets" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UseMongoDataRepo" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UseXmlFileDataRepo" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AssetFileLocationPrefix" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <eventTracking>
    <eventClient name="DMLEvents" exchangeName="d3.qa2.exchange" queueName="d3.qa2.dml.queue" subscriberCount="4" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </eventTracking>

</configuration>