<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="eventTracking" type="D3.EventTracking.Services.CustomConfig.EventTrackingSection, D3.EventTracking.Services" restartOnExternalChanges="false"/>
  </configSections>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

  <connectionStrings>
    <add name="DeluxeMediaLib" connectionString="Data Source=BBI-DB.DEV.D3NW.NET;Initial Catalog=DeluxeMediaLib_DEV;User ID=UGC;Password=D1sn3y132;MultipleActiveResultSets=True;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="PlayreadyKeyStore" connectionString="Data Source=BBI-DB.DEV.D3NW.NET;Initial Catalog=PlayreadyKeyStore;User ID=UGC;Password=D1sn3y132;MultipleActiveResultSets=True;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="AssetLibrary" connectionString="Data Source=BBI-DB.DEV.D3NW.NET; Initial Catalog=AssetLibrary;User ID=UGC;Password=D1sn3y132;MultipleActiveResultSets=True;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="AssetLibraryEntities" connectionString="metadata=res://*/AL.AL.csdl|res://*/AL.AL.ssdl|res://*/AL.AL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DB.DEV.D3NW.NET;initial catalog=AssetLibrary;user id=UGC;password=D1sn3y132;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CustomerPackage" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=BBI-DB.DEV.D3NW.NET;Initial Catalog=CPI;User ID=CPIUser;Password=PuRp13E13ph@n+;MultipleActiveResultSets=True;Persist Security Info=True'" providerName="System.Data.SqlClient"/>    
    <add name="CommonSqlDatabase" connectionString="metadata=res://*/Entities.Common.csdl|res://*/Entities.Common.ssdl|res://*/Entities.Common.msl;provider=System.Data.SqlClient;provider connection string='Data Source=LA1DVSQLSVR001;Initial Catalog=Common;User ID=utilapiuser;Password=D3vut1lAPIus34;MultipleActiveResultSets=True'" providerName="System.Data.SqlClient"/>
    <add name="RabbitMQConnection" connectionString="host=rabbitmq.dev.d3nw.net; heartbeat=30; virtualHost=app.dev.vhost; username=rabbitmq.cps; password=2tJWBpeEunIZkdKwFB4R"/>
    <add name="MetadataRepositoryEntities" connectionString="mongodb://cmruser_dev:Ius$crmD7@mongo.dev.d3nw.net:27017/MetadataRepository"/>    
  </connectionStrings>

  <appSettings>
    <add key="AllowDynamicPackaging" value="true"/>
    <add key="AssetLibraryClientInDirectMode" value="True"/>
    <add key="TitlesCacheBaseFilename" value="TitlesCache.xml"/>
    <add key="StorageUNCOutputBasePath" value="D:\CPI\XML"/>
    <!-- Location of Asset Library service -->
    <add key="ServerLocationAL" value="http://al.dev.d3nw.net/ALService/"/>
    <!-- Location of CPI service -->
    <add key="ServerLocationCPI" value="http://cpi.dev.d3nw.net"/>
    <!-- Location of Customer Metadata Repository service -->
    <add key="ServerLocationCMR" value="http://cmr.dev.d3nw.net"/>
    <!-- MongoDB server URL/connection string, must include database. Needed if UseMongoDataRepo is true -->
    <add key="ServerLocationMongo" value="mongodb://dmluser_dev:d3vu$rdeemel@mongo.dev.d3nw.net:27017/DML"/>
    <!-- Database connection string for CMR -->
    <add key="ServerLocationMongoCMR" value="mongodb://cmruser_dev:Ius$crmD7@mongo.dev.d3nw.net:27017/Assets"/>
    <!-- Indicates whether we should store generated data into MongoDB -->
    <add key="UseMongoDataRepo" value="true"/>
    <!-- Indicates whether we should create XML files -->
    <add key="UseXmlFileDataRepo" value="false"/>
    <!-- If pagination is used, then this is the maximum number of entries that can be specified per request -->
    <add key="MaxEntriesPerPage" value="25"/>
    <!-- If true then DML will generate LibraryItem id attributes which tie together related LibraryItem nodes -->
    <add key="CorrelateLibraryItemIds" value="true"/>
    <!-- If true then DML won't output a Compat Feed entry unless it has an id -->
    <add key="RequireIdForCompatFeed" value="true"/>
    <!-- If true then DML will output Tribune IDs in the Compat Feed per the schema definition dated 11/21/11 -->
    <add key="OutputTribuneIdsInCompatFeed" value="true"/>
    <!-- If true then DML will output DD+ streams in the Compat Feed per the schema definition dated 11/21/11 -->
    <add key="OutputDdPlusStreamsInCompatFeed" value="true"/>
    <!-- If true then DML will output the new Mobile streams in the Compat Feed per the schema definition dated 11/21/11 -->
    <add key="OutputMobileStreamsInCompatFeed" value="true"/>
    <!-- If true then DML will output TV Episodic content in the Compat Feed -->
    <add key="OutputTvEpisodesInCompatFeed" value="true"/>
    <!-- If true then DML will use the Web Service Direct Mode of operation for possible performance improvements -->
    <add key="UseWebServiceDirectMode" value="true"/>
    <!-- Value to add to the start of each asset file location in the output. Applies to both native and compat feed formats -->
    <add key="AssetFileLocationPrefix" value="u/"/>
    <!-- Maximum number of days to keep for each title, only applies if AutoDeleteHistoricalLibraryItemDocuments is true -->
    <add key="MaxHistoricalLibraryItemDaysToKeep" value="30"/>
    <!-- If true, maintain the max age of the historical library items to the MaxHistoricalLibraryItemDaysToKeep value -->
    <add key="AutoDeleteHistoricalLibraryItemDocuments" value="true"/>
    <!-- If true, publish events to the RabbitMQ event bus -->
    <add key="PublishEvents" value="true"/>
    <!-- Whether or not to allow CPI to return incomplete items for processing -->
    <add key="PreventDrops" value="true"/>
    <!-- The number of queue processing threads to use. -->
    <add key="ProcessLocalQueueThreads" value="4"/>
    
  </appSettings>

  <eventTracking>
    <eventClient name="DMLEvents" exchangeName="d3.dev.exchange" queueName="d3.dev.dml.queue">
      <topicFilters>
        <add filter="event5050.#"></add>
        <add filter="event5051.#"></add>
        <add filter="event5052.#"></add>
      </topicFilters>
    </eventClient>
  </eventTracking>

  <log4net threshold="ALL">
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\Logs\DML\DMLUtility_"/>
	  <datePattern value="yyyyMMdd'.log'" />
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}, logLevel=%p, logger=%c{3}, %m%n"/>
      </layout>
    </appender>	
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <threshold value="OFF"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%p] %c{2} - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="Console"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <logger name="DMLUserEntity" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="Console"/>
    </logger>
    <logger name="DMLRepository" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="Console"/>
    </logger>
    <logger name="D3EventHutch" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="Console"/>
    </logger>
    <logger name="BusinessLayer.CPIContent" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="Console"/>
    </logger>
  </log4net>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDMLUtilityService">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="DMLUtility.DMLUtilityService"
               behaviorConfiguration="DMLUtilityServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/DMLUtilityService"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/DMLUtilityService  -->
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="WSHttpBinding_IDMLUtilityService"
                  contract="DMLUtility.IDMLUtilityService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/DMLUtilityService/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DMLUtilityServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

</configuration>
