<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="DeluxeMediaLib" connectionString="Data Source=LA1DVSQLSVR001; Initial Catalog=DeluxeMediaLib_DEV;User ID=UGC;Password=D1sn3y132;MultipleActiveResultSets=True;Persist Security Info=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PlayreadyKeyStore" connectionString="Data Source=LA1DVSQLSVR001; Initial Catalog=PlayreadyKeyStore;User ID=UGC;Password=D1sn3y132;MultipleActiveResultSets=True;Persist Security Info=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AssetLibrary" connectionString="Data Source=LA1DVSQLSVR001; Initial Catalog=AssetLibrary;User ID=UGC;Password=D1sn3y132;MultipleActiveResultSets=True;Persist Security Info=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AssetLibraryEntities" connectionString="metadata=res://*/AL.AL.csdl|res://*/AL.AL.ssdl|res://*/AL.AL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DB.DEV.D3NW.NET;initial catalog=AssetLibrary;user id=UGC;password=D1sn3y132;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CustomerPackage" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=LA1DVSQLSVR001;Initial Catalog=CPI;User ID=CPIUser;Password=PuRp13E13ph@n+;MultipleActiveResultSets=True;Persist Security Info=True';" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
	  <add key="StorageUNCOutputBasePath" value="D:\CPI\XML" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationAL" value="http://al.dev.d3nw.net/ALService/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationCPI" value="http://cpi.dev.d3nw.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationCMR" value="http://cmr.dev.d3nw.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationMongo" value="mongodb://dmluser_dev:d3vu$rdeemel@mongo.dev.d3nw.net:27017/DML" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationMongoCMR" value="mongodb://cmruser_dev:Ius$crmD7@mongo.dev.d3nw.net:27017/Assets"/>
	  <add key="UseMongoDataRepo" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	  <add key="UseXmlFileDataRepo" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AssetFileLocationPrefix" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  
</configuration>