<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="DeluxeMediaLib" connectionString="Data Source=db.prodr.d3nw.net; Initial Catalog=DeluxeMediaLib;User ID=UGC_prodr;Password=y0uGeeS$$;MultipleActiveResultSets=True;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PlayreadyKeyStore" connectionString="Data Source=pkmsdb.prodr.d3nw.net; Initial Catalog=PlayreadyKeyStore;User ID=PKSUser_PRODR;Password=pkspr0dpwd@!1;MultipleActiveResultSets=True;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AssetLibrary" connectionString="Data Source=aldb.prodr.d3nw.net; Initial Catalog=AssetLibrary;User ID=PRODUser_PRODR;Password=kews$$user!;MultipleActiveResultSets=True;Persist Security Info=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AssetLibraryEntities" connectionString="metadata=res://*/AL.AL.csdl|res://*/AL.AL.ssdl|res://*/AL.AL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db.prodr.d3nw.net;initial catalog=AssetLibrary;user id=PRODUser_prodr;password=kews$$user!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CustomerPackage" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=db.prodr.d3nw.net;Initial Catalog=CPI;User ID=CPIUser_prodr;Password=PuRp13E13ph@n+;MultipleActiveResultSets=True;Persist Security Info=True';" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	  <add name="CommonSqlDatabase" connectionString="metadata=res://*/Entities.Common.csdl|res://*/Entities.Common.ssdl|res://*/Entities.Common.msl;provider=System.Data.SqlClient;provider connection string='Data Source=dbext.prodr.d3nw.net; Initial Catalog=Common;User ID=UtilAPIUser_prodr;Password=P4Dut1lAPIus37;MultipleActiveResultSets=True'" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	  <add name="RabbitMQConnection" connectionString="host=rabbitmq.prodr.d3nw.net; heartbeat=30; virtualHost=app.prodr.vhost; username=rabbitmq.cps; password=HiySFIKZrZGYEjV0T25g" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	<add name="MetadataRepositoryEntities" connectionString="mongodb://cmruser_prodr:Ius$crmP1@LA1XVMONSVX001.D3NW.NET:27017/MetadataRepository"    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ServerLocationAL" value="http://al.prodr.d3nw.net/ALService/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationCPI" value="http://cpi.prodr.d3nw.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationCMR" value="http://cmr.prodr.d3nw.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationMongo" value="mongodb://dmluser_prodr:UaJQsmXHzx@LA1XVMONSVX001.d3nw.net:27017/DML" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerLocationMongoCMR" value="mongodb://cmruser_prodr:Ius$crmP1@LA1XVMONSVX001.D3NW.NET:27017/Assets" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UseMongoDataRepo" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UseXmlFileDataRepo" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AssetFileLocationPrefix" value="r/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <eventTracking>
    <eventClient name="DMLEvents" exchangeName="d3.prodr.exchange" queueName="d3.prodr.dml.queue" subscriberCount="4" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </eventTracking>

</configuration>